body * {
  font-family: 'calibri';
}
#demo tr:first-of-type td {
  width: 50%;
  vertical-align: top;
}
#demo tr:last-of-type td {
  width: 50%;
  vertical-align: bottom;
}

#demo {
  height: 400px;
  width:100%;
  vertical-align: middle;
}
#explanation td {
  border-top: 1px solid #ddd;
  vertical-align: top;
}
pre {
  font-family: monospace;
}